<!-- slider -->
<section class="slider">
    <div class="slide d-flex justify-content-center align-items-center">
           <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Watch Shop</h1>
                </div>
            </div>
           </div>
           
    </div>
</section>


<!-- product  -->
<section class="popularItem py-5">
    <div class="container">
        <div class="row">
            
                    <div class="col-md-4 mt-5">
                        <div class="Popular-product">
                        <img src="../../../assets/images/popular1.png" class="rounded" alt="">
                            <div class="overlay d-flex justify-content-between flex-column" >
                                <div class="icon text-right p-3">
                                    <i class="far fa-heart  fa-2x "></i>
                                </div>
                               <div class="red-box py-4  text-center">
                                 <span class="text-white">Add to cart</span>
                              </div>
                            </div>
                        </div>
                        <div class="info mt-5 text-center">
                            <h3>Thermo Ball Etip Gloves</h3>
                            <p class="mt-2">$ 45,743</p>
                        </div>
                    </div>

                    <div class="col-md-4 mt-5">
                        <div class="Popular-product">
                            <img src="../../../assets/images/popular2.png" class="rounded" alt="">
                            <div class="overlay d-flex justify-content-between flex-column" >
                                <div class="icon text-right p-3">
                                    <i class="far fa-heart  fa-2x "></i>
                                </div>
                               <div class="red-box py-4  text-center">
                                 <span class="text-white">Add to cart</span>
                              </div>
                            </div>
                        </div>
                        <div class="info mt-5 text-center">
                            <h3>Thermo Ball Etip Gloves</h3>
                            <p class="mt-2">$ 45,743</p>
                        </div>
                    </div>


                    <div class="col-md-4 mt-5">
                        <div class="Popular-product">
                            <img src="../../../assets/images/popular3.png" class="rounded" alt="">
                            <div class="overlay d-flex justify-content-between flex-column" >
                                <div class="icon text-right p-3">
                                    <i class="far fa-heart  fa-2x "></i>
                                </div>
                               <div class="red-box py-4  text-center">
                                 <span class="text-white">Add to cart</span>
                              </div>
                            </div>
                        </div>
                        <div class="info mt-5 text-center">
                            <h3>Thermo Ball Etip Gloves</h3>
                            <p class="mt-2">$ 45,743</p>
                        </div>
                    </div>


                    <div class="col-md-4 mt-5">
                        <div class="Popular-product">
                            <img src="../../../assets/images/popular4.png" class="rounded" alt="">
                            <div class="overlay d-flex justify-content-between flex-column" >
                                <div class="icon text-right p-3">
                                    <i class="far fa-heart  fa-2x "></i>
                                </div>
                               <div class="red-box py-4  text-center">
                                 <span class="text-white">Add to cart</span>
                              </div>
                            </div>
                           
                        </div>
                        <div class="info mt-5 text-center">
                            <h3>Thermo Ball Etip Gloves</h3>
                            <p class="mt-2">$ 45,743</p>
                        </div>
                    </div>


                    <div class="col-md-4 mt-5">
                        <div class="Popular-product">
                            <img src="../../../assets/images/popular5.png" class="rounded" alt="">
                            <div class="overlay d-flex justify-content-between flex-column" >
                                <div class="icon text-right p-3">
                                    <i class="far fa-heart  fa-2x "></i>
                                </div>
                               <div class="red-box py-4  text-center">
                                 <span class="text-white">Add to cart</span>
                              </div>
                            </div>
                        </div>
                        <div class="info mt-5 text-center">
                            <h3>Thermo Ball Etip Gloves</h3>
                            <p class="mt-2">$ 45,743</p>
                        </div>
                    </div>

                    <div class="col-md-4 mt-5">
                        <div class="Popular-product">
                            <img src="../../../assets/images/popular6.png" class="rounded" alt="">
                            <div class="overlay d-flex justify-content-between flex-column" >
                                <div class="icon text-right p-3">
                                    <i class="far fa-heart  fa-2x "></i>
                                </div>
                               <div class="red-box py-4  text-center">
                                 <span class="text-white">Add to cart</span>
                              </div>
                            </div>
                        </div>
                        <div class="info mt-5 text-center">
                            <h3>Thermo Ball Etip Gloves</h3>
                            <p class="mt-2">$ 45,743</p>
                        </div>
                    </div>
            
        </div>
    </div>
</section>


<!-- free shop -->
<section class="freeSection my-5">
    <div class="container py-5">
        <div class="row shoping px-3 py-5">
            <div class="col-md-4">
                <div class="infoShop text-white">
                    <i class="fas fa-cube fa-3x"></i>
                    <h4 class="my-3 mt-4">Free Shipping Method</h4>
                    <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="infoShop text-white">
                    <i class="fas fa-unlock-alt fa-3x"></i>
                    <h4 class="mb-3 mt-4">Secure Payment System</h4>
                    <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                </div>
            </div>


            <div class="col-md-4">
                <div class="infoShop text-white">
                    <i class="fas fa-sync-alt fa-3x"></i>
                    <h4 class="my-3 mt-4">Secure Payment System</h4>
                    <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                </div>
            </div>
        </div>
    </div>
</section>