.note{
    margin-top: 25px;
}
.note p{
    color: #868c98;
}
.note ul li {
    margin-bottom: 15px;
    color: #868c98;
    cursor: pointer;
}
.note ul li:hover{
    margin-left: 15px;
    color: #ff2020;
    transition: all 1s;
}
.fa-heart , .copyRight span{
    color: #ff2020;
}
.copyRight span{
    cursor: pointer;
}
.copyRight p {
    color: #868c98;
}
.icons i {
    margin-left: 20px;
    color: #222222;
    font-size: 14px;
    cursor: pointer;
}
.icons i:hover{
    color: #ff2020;
    transform: rotateY(180deg);
    transition: all .5s;
}

// footer{
//     position: absolute;
//     bottom: 0; 
//     left: 0;
//      right: 0;
    
// }