<!-- header -->
<section class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-7 my-auto">
                <div class="d-flex  flex-column justify-content-center">
                    <h1>Select Your New Perfect Style</h1>
                    <p class="my-5">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat is aute irure.</p>
                    <div>
                        <button class="btn btn-lg btn-secondary shop"> SHOP NOW</button>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <div class="img-header">
                    <img src="../../../assets/images/watch.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- new product -->
<section class="new-product py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2> New Arrivals </h2>
            </div>
            <div class="col-md-4 mt-5">
                <div class="img-product">
                    <img src="../../../assets/images/new_product1.png" class="rounded" alt="">
                </div>
                <div class="info mt-5 text-center">
                    <h3>Thermo Ball Etip Gloves</h3>
                    <p class="mt-2">$ 45,743</p>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="img-product">
                    <img src="../../../assets/images/new_product2.png" class="rounded" alt="">
                </div>
                <div class="info mt-5 text-center">
                    <h3>Thermo Ball Etip Gloves</h3>
                    <p class="mt-2">$ 45,743</p>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="img-product">
                    <img src="../../../assets/images/new_product3.png" class="rounded" alt="">
                </div>
                <div class="info mt-5 text-center">
                    <h3>Thermo Ball Etip Gloves</h3>
                    <p class="mt-2">$ 45,743</p>
                </div>
            </div>


        </div>
    </div>
</section>

<!-- gallary -->
<section class="gallary py-5">
   <div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="gallary-img">
                <img src="../../../assets/images/gallery1.png" alt="">
                <div class="layer"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="gallary-img">
                        <img src="../../../assets/images/gallery2.png" alt="">
                        <div class="layer"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="gallary-img">
                        <img src="../../../assets/images/gallery3.png" alt="">
                        <div class="layer"></div>
                    </div>
                    <div class="gallary-img lastImg">
                        <img src="../../../assets/images/gallery4.png" alt="">
                        <div class="layer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
</section>

<!-- Popular Items  -->
<section class="popularItem py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-7 mx-auto">
                <div class="header-item text-center">
                    <h2 class="my-4">Popular Items</h2>
                    <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Quis ipsum suspendisse ultrices gravida.</p>
                </div>

            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 mt-5">
                        <div class="Popular-product">
                        <img src="../../../assets/images/popular1.png" class="rounded" alt="">
                            <div class="overlay d-flex justify-content-between flex-column" >
                                <div class="icon text-right p-3">
                                    <i class="far fa-heart  fa-2x "></i>
                                </div>
                               <div class="red-box py-4  text-center">
                                 <span class="text-white">Add to cart</span>
                              </div>
                            </div>
                        </div>
                        <div class="info mt-5 text-center">
                            <h3>Thermo Ball Etip Gloves</h3>
                            <p class="mt-2">$ 45,743</p>
                        </div>
                    </div>

                    <div class="col-md-4 mt-5">
                        <div class="Popular-product">
                            <img src="../../../assets/images/popular2.png" class="rounded" alt="">
                            <div class="overlay d-flex justify-content-between flex-column" >
                                <div class="icon text-right p-3">
                                    <i class="far fa-heart  fa-2x "></i>
                                </div>
                               <div class="red-box py-4  text-center">
                                 <span class="text-white">Add to cart</span>
                              </div>
                            </div>
                        </div>
                        <div class="info mt-5 text-center">
                            <h3>Thermo Ball Etip Gloves</h3>
                            <p class="mt-2">$ 45,743</p>
                        </div>
                    </div>


                    <div class="col-md-4 mt-5">
                        <div class="Popular-product">
                            <img src="../../../assets/images/popular3.png" class="rounded" alt="">
                            <div class="overlay d-flex justify-content-between flex-column" >
                                <div class="icon text-right p-3">
                                    <i class="far fa-heart  fa-2x "></i>
                                </div>
                               <div class="red-box py-4  text-center">
                                 <span class="text-white">Add to cart</span>
                              </div>
                            </div>
                        </div>
                        <div class="info mt-5 text-center">
                            <h3>Thermo Ball Etip Gloves</h3>
                            <p class="mt-2">$ 45,743</p>
                        </div>
                    </div>


                    <div class="col-md-4 mt-5">
                        <div class="Popular-product">
                            <img src="../../../assets/images/popular4.png" class="rounded" alt="">
                            <div class="overlay d-flex justify-content-between flex-column" >
                                <div class="icon text-right p-3">
                                    <i class="far fa-heart  fa-2x "></i>
                                </div>
                               <div class="red-box py-4  text-center">
                                 <span class="text-white">Add to cart</span>
                              </div>
                            </div>
                           
                        </div>
                        <div class="info mt-5 text-center">
                            <h3>Thermo Ball Etip Gloves</h3>
                            <p class="mt-2">$ 45,743</p>
                        </div>
                    </div>


                    <div class="col-md-4 mt-5">
                        <div class="Popular-product">
                            <img src="../../../assets/images/popular5.png" class="rounded" alt="">
                            <div class="overlay d-flex justify-content-between flex-column" >
                                <div class="icon text-right p-3">
                                    <i class="far fa-heart  fa-2x "></i>
                                </div>
                               <div class="red-box py-4  text-center">
                                 <span class="text-white">Add to cart</span>
                              </div>
                            </div>
                        </div>
                        <div class="info mt-5 text-center">
                            <h3>Thermo Ball Etip Gloves</h3>
                            <p class="mt-2">$ 45,743</p>
                        </div>
                    </div>

                    <div class="col-md-4 mt-5">
                        <div class="Popular-product">
                            <img src="../../../assets/images/popular6.png" class="rounded" alt="">
                            <div class="overlay d-flex justify-content-between flex-column" >
                                <div class="icon text-right p-3">
                                    <i class="far fa-heart  fa-2x "></i>
                                </div>
                               <div class="red-box py-4  text-center">
                                 <span class="text-white">Add to cart</span>
                              </div>
                            </div>
                        </div>
                        <div class="info mt-5 text-center">
                            <h3>Thermo Ball Etip Gloves</h3>
                            <p class="mt-2">$ 45,743</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-7 mx-auto text-center my-5">
                <button class="btn btn-lg btn-secondary shop"> VIEW MORE PRODUCTS</button>
            </div>

        </div>
    </div>
</section>

<!-- video -->
<section class="video">
    <div class="container-fluid">
       <div class="row">
        <div class="play-video w-100 text-center py-5">
            <span> <i class="fas fa-play text-white fa-2x"></i></span>
         </div>
       </div>
         <div class="py-5"></div>
       <div class="row mt-5">
         <div class="nextVideo col-md-4">
             <div class="d-flex p-5  justify-content-between">
                 <h3>Next Video</h3>
                 <i class="fa fa-arrow-right mt-2" aria-hidden="true"></i>
             </div>
           </div>
       </div>
       <div class="layer-video"></div>
    </div>
</section>

<!--Watch  -->
<section class="watch mt-5 pt-5">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-5 my-auto">
                <div class="choice">
                    <h3>Watch of Choice</h3>
                    <p>Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                    <div>
                        <button class="btn btn-lg choice"> SHOP NOW</button>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <div class="img-watch">
                    <img src="../../../assets/images/choce_watch1.png" alt="">
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="img-watch">
                    <img src="../../../assets/images/popular4.png" class="w-100" alt="">
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 my-auto">
                <div class="choice">
                    <h3>Watch of Choice</h3>
                    <p>Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                    <div>
                        <button class="btn btn-lg choice"> SHOP NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- free shop -->
<section class="freeSection my-5">
    <div class="container py-5">
        <div class="row shoping px-3 py-5">
            <div class="col-md-4">
                <div class="infoShop text-white">
                    <i class="fas fa-cube fa-3x"></i>
                    <h4 class="my-3 mt-4">Free Shipping Method</h4>
                    <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="infoShop text-white">
                    <i class="fas fa-unlock-alt fa-3x"></i>
                    <h4 class="mb-3 mt-4">Secure Payment System</h4>
                    <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                </div>
            </div>


            <div class="col-md-4">
                <div class="infoShop text-white">
                    <i class="fas fa-sync-alt fa-3x"></i>
                    <h4 class="my-3 mt-4">Secure Payment System</h4>
                    <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                </div>
            </div>
        </div>
    </div>
</section>