<!-- slider -->
<section class="slider">
    <div class="slide d-flex justify-content-center align-items-center">
           <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>About Us</h1>
                </div>
            </div>
           </div> 
    </div>
</section>


<!-- about -->
<section class="aboutUs p-5">
    <div class="container">
        <div class="row p-5">
            <div class="col-md-8">
                <div class="mission d-flex mb-3">
                    <div class="red-line"></div>
                    <div class="missionTitle">
                        <h3>Our Mission</h3>
                    </div>
                </div>
                <div class="missionInfo px-3">
                    <p>Consectetur adipiscing elit, sued do eiusmod tempor ididunt udfgt labore et dolore magna aliqua. Quis ipsum suspendisces gravida. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus.</p>
                    <p>Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan.</p>
                </div>
            </div>

            <div class="col-md-8 py-5">
                <div class="mission d-flex mb-3">
                    <div class="red-line"></div>
                    <div class="missionTitle">
                        <h3>Our Vision</h3>
                    </div>
                </div>
                <div class="missionInfo px-3">
                    <p>Consectetur adipiscing elit, sued do eiusmod tempor ididunt udfgt labore et dolore magna aliqua. Quis ipsum suspendisces gravida. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus.</p>
                    <p>Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan.</p>
                </div>
            </div>
        </div>
    </div>
    
</section>

<!-- video -->
<section class="video">
    <div class="container-fluid">
       <div class="row">
        <div class="play-video w-100 text-center py-5">
            <span> <i class="fas fa-play text-white fa-2x"></i></span>
         </div>
       </div>
         <div class="py-5"></div>
       <div class="row mt-5">
         <div class="nextVideo col-md-4">
             <div class="d-flex p-5  justify-content-between">
                 <h3>Next Video</h3>
                 <i class="fa fa-arrow-right mt-2" aria-hidden="true"></i>
             </div>
           </div>
       </div>
       <div class="layer-video"></div>
    </div>
</section>


<!-- free shop -->
<section class="freeSection my-5">
    <div class="container py-5">
        <div class="row shoping px-3 py-5">
            <div class="col-md-4">
                <div class="infoShop text-white">
                    <i class="fas fa-cube fa-3x"></i>
                    <h4 class="my-3 mt-4">Free Shipping Method</h4>
                    <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="infoShop text-white">
                    <i class="fas fa-unlock-alt fa-3x"></i>
                    <h4 class="mb-3 mt-4">Secure Payment System</h4>
                    <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                </div>
            </div>


            <div class="col-md-4">
                <div class="infoShop text-white">
                    <i class="fas fa-sync-alt fa-3x"></i>
                    <h4 class="my-3 mt-4">Secure Payment System</h4>
                    <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                </div>
            </div>
        </div>
    </div>
</section>

